.main-div-route-information {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35vh;
    background: rgb(51 51 51 / 90%);
}

.stop-names-span {
    position: relative;
    top: 35%;
    overflow: visible;
    width: max-content;
    height: max-content;
    flex: 1;
    color: white;
    line-height: 1;
    rotate: 300deg;
    text-overflow: ellipsis;

    /* font-size: 5px; */
}

.route-information-span {
    flex: 1;
    color: white;
}

.route-information-inner-div {
    display: flex;
}

.stops-div {
    display: flex;
    height: 29.3vh;
    overflow-x: scroll;
}
