.filter-div {
    width: 23vh;
    margin-top: 14px;
    margin-right: 5px;
    margin-left: 5px;
    background: rgb(51 51 51 / 90%);
    color: white;
}

.open-filter-div {
    width: 23vh;
    height: 30vh;
    margin-top: 14px;
    margin-right: 5px;
    margin-left: 5px;
    background: rgb(51 51 51 / 90%);
    color: white;
    overflow-y: scroll;
}

.options-div-selected {
    width: 20vh;

    /* margin-left: 5px; */
    margin-right: 5px;

    /* margin-top: 14px; */
    background: rgb(140 140 140 / 90%);
    color: white;
}

.drop-down-menu-title-span:hover {
    cursor: pointer;
}

.drop-down-menu-title-div {
    padding-left: 20px;
}

.options-div {
    padding-left: 10px;
}

.options-div:hover {
    cursor: pointer;
}
